<!DOCTYPE html>
<html>
  <head>
    <title>OneDiscovery</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>


  </head>

  <body>
    <p class="notice"><%= notice %></p>
    <p class="alert"><%= alert %></p>
    <header>
      <div class="container">
        <h1>One day One discovery</h1>
        <div class="form">
          <input type="text" id="search-form" size="30"  style="height: 2.5em; width: 25em; background-color: #fafafa;"placeholder="キーワード検索">
        </div>
        <div class="nav-func">
          <div class="nav-func__user">
            <a href="#" class="nav-func__user-btn"></a>
          </div>
          <div class="nav-func__submit">
            <a href="posts/new" class="submit-btn" style="width: 45px;">投稿</a>
          </div>
        </div>
      </div>
    </header>
    <%= yield %>

  </body>
</html>
